.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1170px;
  width: 100%;
  height: 144px;
  margin:  3px 0px;
  padding: 0 90px 0 48px;

  position: relative;

  box-shadow: 0px 4.48752px 4.48752px rgba(0, 0, 0, 0.25);
  border: none;
  background: white;

  @media screen and (max-width: 600px) {
    margin: auto;
    padding: 0 35px 0 15px;
    height: 94px;
  }
}

.InfoContainer {
  display: flex;
  align-items: center;

  gap: 18px;
}

.Image {
  width: 84px;
  height: 84px;

  border-radius: 50%;
  object-fit: cover;

  @media screen and (max-width: 600px) {
    width: 52px;
    height: 52px;
  }
}

.Name {
  font-style: normal;
  font-weight: bold;
  font-size: 26.3465px;
  line-height: 33px;

  @media screen and (max-width: 600px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.Description, .Url {
  font-style: normal;
  font-weight: 400;
  font-size: 18.1132px;
  line-height: 23px;

  @media screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 8px;
  }
}

.Close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    position: absolute;
    top: 0;
    right: 5px;
  }
}

.Close:hover,
.Close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;

  @media screen and (max-width: 600px) {
    gap: 15px;
  }
}

.Accept {
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  border: none;
  border-radius: 50%;
  background-image: url('../../assets/icons/tick.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}

.Decline {
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  border: none;
  border-radius: 50%;
  background-image: url('../../assets/icons/decline.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}

.ButtonText {
  position: absolute;
  bottom: -18px;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 11px;
}

.Status {
  border: 0.736979px solid #1BAC4B;
  padding: 3px 9px;
  border-radius: 3.3164px;
  font-size: 9.70969px;
  line-height: 12px;
  color: #1BAC4B;
}

.Status1 {
  border: 0.736979px solid #000000;
  padding: 3px 9px;
  border-radius: 3.3164px;
  font-size: 9.70969px;
  line-height: 12px;
  color: #000000;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .ModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;

    .ModalImage {
      width: 100%;
      max-height: 400px;
      object-fit: contain;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .MintButton {
      background-color: #555555;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        background-color: black;
      }
    }

    .CloseButton {
      position: absolute;
      top: 0px;
      right: 10px;
      font-size: 50px;
      color: #999;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .NavigationButtonLeft {
      position: absolute;
      top: 40%;
      left: 10px;
      background-color: transparent;
      border: none;
      font-size: 30px;
    }

    .NavigationButtonRight {
      position: absolute;
      top: 40%;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 30px;
    }
  }

  @media (max-width: 600px) {
    .ModalContent {
      padding: 10px;

      .ModalImage {
        max-height: 300px;
      }

      .MintButton {
        font-size: 14px;
      }
    }
  }
}
